/*Se eliminan margenes y paddinds por
defecto, posteriormnete se ajustara cada uno segun
sea necesario*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Ajuste Body*/

html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  
}
header{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}
h1{
  font-family: Lobster;
}
.fondoglobalsvg { 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(../img/Fondo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width: 100%;
  
}

/*imagen Fondo del formulario*/

.imagencentral {
  background-image: url(../img/Encabezado.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: auto;
  width: 450px;
  height: 400px;
}



/*Generador de espacio*/

.space {
  width: 400px;
  height: 180px;
}

@media (max-width: 453px) {
  .imagencentral {
    width: 100%;
    height: 100%;
    min-width: 339px;
  }
  .space {
    width: 100%;
    height: 180px;
  }
}
/*Subcontainer, recuadro blanco con el formulario*/

.subcontainer {
  background-color: white;
  padding-top: 27px;
}

.label {
  font-size: 0px;
}

.invisible {
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
}

/*Contenedor de Entrdas de Texto*/

/*font-family: 'Bebas Neue', cursive;*/

.Fila {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;

}


input {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: black;
  border:hidden;  
  border-bottom: .3px solid #8B8F8C; 
  padding-bottom: 1px; 
}



.formbox {
  width: 180px;  
}

.email {
  width: 390px;
}

.email::placeholder {
  text-align: center;
}

@media (max-width: 453px) {

  .Fila{
    display: flex;
    flex-direction: column;    
  }
  input {
    margin: auto; 
    width: 200px; 
    margin-top:7px;
    margin-bottom: 7px;
  }
 
  input::placeholder {
    text-align: center;
  }
  .email {
    width: 200px;
    margin:auto;
  }

 
}


.mascotas {
  box-sizing:border-box;
  width: 200px;
  height: 500px;
  background-image: url(../img/Mascotas.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
 
}

/*
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */

/*
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}
*/

/* form */

/*
form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
*/